<div class="row">
    <div class="col-md-4">
        <div class="well bs-component">
            @Html.Partial("~/Views/Sections/_Filter.cshtml")
        </div>
    </div>

    <div class="col-md-8">
        <div class="well bs-component">
            @Html.Partial("~/Views/Sections/_Map.cshtml")
        </div>
        <div class="well bs-component">
            Hello!
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/js/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0VDZS3C1nVRByWjnjTxNido0xof2VqbM&callback=initMap"></script>
}