<div class="row">
    <div class="col-md-4">
        <div class="well bs-component">
            @Html.Partial("~/Views/Sections/_Filter.cshtml")
        </div>
    </div>

    <div class="col-md-8">
        <div class="well bs-component">
            Hello!
        </div>
        
            @Html.Partial("~/Views/Sections/_Results.cshtml")
       
    </div>
</div>