<div class="bs-component">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Gimnazja</h3>
        </div>
        <div class="panel-body">
            <p id="middleschool"></p>
            <p id="middleschoolStreet"></p>
            <p id="middleschoolDistance"></p>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Zabytki</h3>
        </div>
        <div class="panel-body">
            <p id="relic"></p>
            <p id="relicStreet"></p>
            <p id="relicDistance"></p>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Szkoły Podstawowe</h3>
        </div>
        <div class="panel-body">
            <p id="preschool"></p>
            <p id="preschoolStreet"></p>
            <p id="preschoolDistance"></p>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Licea</h3>
        </div>
        <div class="panel-body">
            <p id="primaryschool"></p>
            <p id="primaryschoolStreet"></p>
            <p id="primaryschoolDistance"></p>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Przystanki autobusowe</h3>
        </div>
        <div class="panel-body">
            <p id="busStop"></p>
            <p id="busStopStreet"></p>
            <p id="busStopDistance"></p>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Przystanki tramwajowe</h3>
        </div>
        <div class="panel-body">
            <p id="tramStop"></p>
            <p id="tramStopStreet"></p>
            <p id="tramStopDistance"></p>
        </div>
    </div>
</div>