<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Przedszkola</h3>
    </div>
    <div class="panel-body">
        <p id="preschool">Brak danych. Wybierz punkt na mapie!</p>
        <p id="preschoolStreet"></p>
        Odległość <p id="preschoolDistance">?</p>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Szkoły podstawowe</h3>
    </div>
    <div class="panel-body" style="display: none;">
        <p id="primaryschool">Brak danych. Wybierz punkt na mapie!</p>
        <p id="primaryschoolStreet"></p>
        Odległość <p id="primaryschoolDistance">?</p>
    </div>
</div>

<div class="bs-component">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Gimnazja</h3>
        </div>
        <div class="panel-body" style="display: none;">
            <p id="middleschool">Brak danych. Wybierz punkt na mapie!</p>
            <p id="middleschoolStreet"></p>
            Odległość <p id="middleschoolDistance">?</p>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Zabytki</h3>
        </div>
        <div class="panel-body" style="display: none;">
            <p id="relic">Brak danych. Wybierz punkt na mapie!</p>
            <p id="relicStreet"></p>
            Odległość <p id="relicDistance">?</p>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Przystanki autobusowe</h3>
        </div>
        <div class="panel-body" style="display: none;">
            <p id="busStop">Brak danych. Wybierz punkt na mapie!</p>
            <p id="busStopStreet"></p>
            Odległość <p id="busStopDistance">?</p>
        </div>
    </div>

    <div class="panel panel-primary" style="display: none;">
        <div class="panel-heading">
            <h3 class="panel-title">Przystanki tramwajowe</h3>
        </div>
        <div class="panel-body">
            <p id="tramStop"></p>
            <p id="tramStopStreet"></p>
            Odległość <p id="tramStopDistance">?</p>
        </div>
    </div>
</div>