<p class="lead">Wybraliśmy to miejsce dla Ciebie bo...</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <!-- panel 1 -->
    <div class="panel panel-default">
        <!--wrap panel heading in span to trigger image change as well as collapse -->
        <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
            <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4 class="panel-title">Szkoła</h4>
                <a class="btn btn-success btn-clickable pull-right" href="#">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </span>

        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <!-- / panel 1 -->
    <!-- panel 2 -->
    <div class="panel panel-default">
        <!--wrap panel heading in span to trigger image change as well as collapse -->
        <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
            <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h4 class="panel-title collapsed">Zabytki</h4>
                <a class="btn btn-success btn-clickable pull-right" href="#">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </span>

        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <!-- / panel 2 -->
</div> <!-- / panel-group -->